<table>
  <thead>
    <tr>
      <td>
        <h3>Saying</h3>
      </td>
      <td>
        <strong>Author</strong>
      </td>
    </tr>
  </thead>
  <%= for q <- @quotes do %>
    <tr>
      <td>
        <h4><%= q.saying %></h4>
      </td>
      <td>
        <strong><%= q.author %></strong>
      </td>
    </tr>
  <% end %>
</table>
