<table>
  <thead>
    <tr>
      <td>
        <h3>Saying</h3>
      </td>
      <td>
        <strong>Author</strong>
      </td>
    </tr>
  </thead>
  <%= for q <- @quotes do %>
    <tr>
      <td>
        <h4><a href="<%= quote_path(@conn, :show, q.id)%>"><%= q.saying %></a></h4>
      </td>
      <td>
        <strong><%= q.author %></strong>
      </td>
    </tr>
  <% end %>
</table>
