<h2>New Quote</h2>
<%= form_for @changeset, quote_path(@conn, :create), fn f -> %>
  <div class="form-group">

    <input type="text" class="form-control" name="quote[saying]" placeholder="Your Quote Here!">
    <br>
    <input type="text" class="form-control" name="quote[author]" placeholder="Author Name">
    <br>
    <button type="submit" class="btn btn-success">Save</button>
  </div>
<% end %>
