<h2>New Quote</h2>
<form class="" action="<%= quote_path(@conn, :create)%>" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Quote Here!">
    <input type="button" name="name" value="Save" class="btn btn-success">
  </div>
</form>
