<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Splurty!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://cdn.web-6.fr/js/jquery.restfulizer/jquery.restfulizer.js"></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo"></span>
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li><a href="/">Hit Me!</a></li>
            <li><a href="/quotes">Quotes</a></li>
            <li><a href="/quotes/new">Add New</a></li>
          </ul>
        </nav>
        <!-- <span class="logo"></span> -->
      </header>

      <hr class="clear col-xs-12"/>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="col-xs-6">
          <a href="<%= quote_path(@conn, :homepage)%>">
            This isn't enough, I need more
          </a>
        </div>
        <div class="col-xs-6">
          RIGHT SIDE
        </div>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
    smithy = 29;
    $(function() {
      $(".rest").click(function(d) {
        $('form').submit(function(s) {
          var input = $("<input>")
          .attr("type", "hidden")
          .attr("name", "_csrf_token").val("<%= get_csrf_token() %>");
          $(s.target).append($(input));
        });
      });
      $(".rest").restfulizer({});
    });
    </script>
  </body>
</html>
